<%= form_with(model: student, local: true) do |form| %>
    <% if student.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(student.errors.count, "error") %> prohibited this student from being saved:</h2>
  
        <ul>
        <% student.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    
    <p><%= @student.full_name %></p>
    Current school: <%= @student.display_school_name %>
    <% if @student.active_enrollment? %>
      <div id="error_explanation">
        Student has an active enrollment at <%=@student.display_school_name%>.
      </div>
    <% end %>
    <div class="field">
      <%= form.label :school_id, 'New school' %>
      <%= form.collection_select(:school_id, @schools, :id, :name, prompt: true) %>
    </div>

    <div class="actions">
      <%= form.submit 'Finish', disabled: @student.active_enrollment?  %>
    </div>
  <% end %>
  