<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @student.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @student.last_name %>
</p>

<p>
  <strong>School:</strong>
  <%= @student.school.name %>
</p>

<p>
  <strong>Active enrollments:</strong>
  <% @student.enrollments.active.each do |enrollment| %>
    <br> <%= enrollment.cohort.name %>
  <% end %>
  <br><%= link_to 'New enrollment', new_school_enrollment_path(@student.school_id, student_id: @student) %>
</p>

<p>
<%= link_to 'Transfer student', student_transfer_path(@student) %>
</p>

<%= link_to 'Edit', edit_student_path(@student) %> 
<%= link_to 'Back', students_path %>
